[submodule "ctbignum"]
	path = ctbignum
	url = https://github.com/colinrford/ctbignum
[submodule "concepts"]
	path = concepts
	url = https://www.github.com/colinrford/concepts
[submodule "bitvector"]
	path = bitvector
	url = https://github.com/colinrford/bitvector
