[submodule "ctbignum"]
	path = ctbignum
	url = https://github.com/colinrford/ctbignum
[submodule "concepts"]
	path = concepts
	url = https://github.com/colinrford/concepts
[submodule "bitvector"]
	path = bitvector
	url = https://github.com/colinrford/bitvector

[submodule "polynomial_nttp"]
	path = polynomial_nttp
	url = https://github.com/colinrford/polynomial_nttp
[submodule "symbols"]
	path = symbols
	url = https://github.com/colinrford/symbols
